.media{
    display:flex;
    flex-direction: column;
    width:17.7vw;
    padding: 5px;
    background-color: #133f53;
    margin:5px 0;
    border-radius: 8px;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}

.media:hover{
    background-color:white;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
@media(max-width:650px){
    .media{
        font-family: sans-serif;
        width:25%;
        font-size: small;
    }
}

@media(max-width:550px){
    .media{
        width:45%;
       font-size: smaller;
    }
}

.poster{
    border-radius: 10px;
}

.title{
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    height:5.5vh;
    margin-top:3px;
}

.subTitle{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 3.9vh;
}