.app{
    background-color: #130f40;
    color: aliceblue;
    min-height: 100vh;
    padding-top: 110px;
    padding-bottom: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  }

  .pageTitle{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color:bisque;
    text-transform: uppercase;
  }

  .card{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding:1px;
}

  
  @media(max-width:700px){
    .app{
      padding-top: 100px;
    }
    .pageTitle{
      font-size: 1.5rem;
    }
  }

  @media(max-width:500px){
    .card{
      flex-direction: column;
    }
  }

  .notDisplay{
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }

